# OpenAI
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-large
OPENAI_COMPLETION_MODEL=gpt-4o-mini

# Optional sentence-transformers model
SENT_TRANSFORMER_MODEL=all-MiniLM-L6-v2

# Vector DB path
VECTOR_STORE_PATH=./data/faiss_index

# Server
HOST=0.0.0.0
PORT=8000